.embpicamoto,
.embpicamoto li {
	display:inline;
	list-style:none;
	padding:0;
	margin:0;
}

/* inline-block */
.embpicamoto li, .embpicamoto li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}

.embpicamoto li, .embpicamoto li a {
  *display: inline;
}


.embpicamoto li {
	margin:5px;
}

.embpicamoto li a img {
	border:3px solid #fff;	
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}

.embpicamoto li a:hover img {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
